.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .header, 
.dark-mode .footer {
    background-color: #1d1d1d;
}

.dark-mode .button {
    background-color: #bb86fc;
    color: #121212;
}

.dark-mode .input {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1f1f1f;
}

.dark-mode .link {
    color: #bb86fc;
}
